## Setup

In [43]:
import requests
import zipfile
import io
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import pytz
import numpy as np
import pandas as pd
import math
import warnings
import seaborn as sns
import os
import shutil

# Suppress specific warnings (in this case, FutureWarnings)
warnings.simplefilter(action='ignore', category=FutureWarning)

## Download the dataset

In [22]:
DATASET_URL = 'https://archive.ics.uci.edu/static/public/502/online+retail+ii.zip'
DATASET_FILENAME = 'online_retail_II.xlsx'

response = requests.get(DATASET_URL)
zip_bytes = io.BytesIO(response.content)

with zipfile.ZipFile(zip_bytes) as z:
    with z.open(DATASET_FILENAME) as file:
        online_retail_df = pd.read_excel(file)

## Explore the dataset

In [23]:
online_retail_df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

In [38]:
online_retail_df['Invoice'].value_counts()

Invoice
537434     675
538071     652
537638     601
537237     597
536876     593
          ...
523981       1
523984       1
523985       1
C523988      1
C516462      1
Name: count, Length: 28816, dtype: int64

In [25]:
online_retail_df['StockCode'].value_counts()

StockCode
85123A    3516
22423     2221
85099B    2057
21212     1933
21232     1843
          ...
90005B       1
90197C       1
90080        1
20904        1
21120        1
Name: count, Length: 4632, dtype: int64

In [26]:
online_retail_df['Description'].value_counts()

Description
WHITE HANGING HEART T-LIGHT HOLDER     3549
REGENCY CAKESTAND 3 TIER               2212
STRAWBERRY CERAMIC TRINKET BOX         1843
PACK OF 72 RETRO SPOT CAKE CASES       1466
ASSORTED COLOUR BIRD ORNAMENT          1457
                                       ...
stock credited from royal yacht inc       1
VINTAGE METAL CAKE STAND CREAM            1
BLUE BAROQUE FLOCK CANDLE HOLDER          1
S/4 HEART CRYSTAL FRIDGE MAGNETS          1
dotcom email                              1
Name: count, Length: 4681, dtype: int64

In [27]:
online_retail_df['Quantity'].value_counts()

Quantity
 1       146118
 2        78131
 12       60682
 6        44431
 3        35517
          ...
-1120         1
 2651         1
 528          1
 681          1
-177          1
Name: count, Length: 825, dtype: int64

In [28]:
online_retail_df['InvoiceDate'].value_counts()

InvoiceDate
2010-12-06 16:57:00    675
2010-12-09 14:09:00    652
2010-12-07 15:28:00    601
2010-12-06 09:58:00    597
2010-12-03 11:36:00    593
                      ...
2010-02-24 16:40:00      1
2010-10-11 08:12:00      1
2010-02-24 16:43:00      1
2010-02-24 16:44:00      1
2010-09-28 15:24:00      1
Name: count, Length: 25296, dtype: int64

In [34]:
online_retail_df['Customer ID'].value_counts()

Customer ID
14911.0    5710
17841.0    5114
14606.0    3927
14156.0    2710
12748.0    2665
           ...
18174.0       1
14827.0       1
17645.0       1
16443.0       1
13222.0       1
Name: count, Length: 4383, dtype: int64

In [35]:
online_retail_df['Country'].value_counts()

Country
United Kingdom          485852
EIRE                      9670
Germany                   8129
France                    5772
Netherlands               2769
Spain                     1278
Switzerland               1187
Portugal                  1101
Belgium                   1054
Channel Islands            906
Sweden                     902
Italy                      731
Australia                  654
Cyprus                     554
Austria                    537
Greece                     517
United Arab Emirates       432
Denmark                    428
Norway                     369
Finland                    354
Unspecified                310
USA                        244
Japan                      224
Poland                     194
Malta                      172
Lithuania                  154
Singapore                  117
RSA                        111
Bahrain                    107
Canada                      77
Hong Kong                   76
Thailand                    76
Israel                      74
Iceland                     71
Korea                       63
Brazil                      62
West Indies                 54
Bermuda                     34
Nigeria                     32
Lebanon                     13
Name: count, dtype: int64

In [31]:
online_retail_df[['StockCode', 'Description']].value_counts()

StockCode  Description
85123A     WHITE HANGING HEART T-LIGHT HOLDER    3515
22423      REGENCY CAKESTAND 3 TIER              2212
21232      STRAWBERRY CERAMIC TRINKET BOX        1843
21212      PACK OF 72 RETRO SPOT CAKE CASES      1466
84879      ASSORTED COLOUR BIRD ORNAMENT         1457
                                                 ...
20786      Damages                                  1
21254      SET OF KITCHEN WALL  STICKERS            1
48173C     damaged                                  1
84932D     damages                                  1
85132c     CHARLIE AND LOLA FIGURES TINS            1
Name: count, Length: 5070, dtype: int64

In [53]:
descriptions_per_stock_code = online_retail_df.groupby('StockCode')['Description'].nunique()
num_non_unique_descriptions = (descriptions_per_stock_code > 1).sum()
pct_non_unique_descriptions = (num_non_unique_descriptions / len(descriptions_per_stock_code)) * 100
print(f'Number of stock codes with more than one description: {num_non_unique_descriptions} ({pct_non_unique_descriptions:.0f}%)')

Number of stock codes with more than one description: 687 (15%)

In [56]:
descriptions_per_stock_code[descriptions_per_stock_code > 1].sort_values(ascending=False)

StockCode
22423        6
22734        5
22345        4
85099B       4
22384        4
            ..
22366        2
22367        2
22381        2
22382        2
DCGSSGIRL    2
Name: Description, Length: 687, dtype: int64

In [59]:
online_retail_df.query('StockCode == 22423')['Description'].unique()

array(['REGENCY CAKESTAND 3 TIER', 'smashed', 'damaged', nan,
       'broken, uneven bottom', 'wonky bottom/broken', 'faulty'],
      dtype=object)

In [64]:
online_retail_df.query('StockCode == 22423 and Description != "REGENCY CAKESTAND 3 TIER"')

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
192773,507688,22423,smashed,-32,2010-05-11 09:56:00,0.0,NaN,United Kingdom
193100,507708,22423,damaged,-90,2010-05-11 11:18:00,0.0,NaN,United Kingdom
213344,510068,22423,NaN,-30,2010-05-27 11:08:00,0.0,NaN,United Kingdom
256099,514102,22423,damaged,-14,2010-06-30 12:32:00,0.0,NaN,United Kingdom
276229,516200,22423,smashed,-31,2010-07-19 10:33:00,0.0,NaN,United Kingdom
374144,525460,22423,"broken, uneven bottom",-35,2010-10-05 14:46:00,0.0,NaN,United Kingdom
416038,529134,22423,wonky bottom/broken,-35,2010-10-26 14:48:00,0.0,NaN,United Kingdom
472121,533872,22423,damaged,-29,2010-11-19 11:35:00,0.0,NaN,United Kingdom
524286,538072,22423,faulty,-13,2010-12-09 14:10:00,0.0,NaN,United Kingdom

In [65]:
online_retail_df.query('Quantity < 0')

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,2.95,16321.0,Australia
179,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,2009-12-01 10:33:00,1.65,16321.0,Australia
180,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,2009-12-01 10:33:00,4.25,16321.0,Australia
181,C489449,21896,POTTING SHED TWINE,-6,2009-12-01 10:33:00,2.10,16321.0,Australia
182,C489449,22083,PAPER CHAIN KIT RETRO SPOT,-12,2009-12-01 10:33:00,2.95,16321.0,Australia
...,...,...,...,...,...,...,...,...
525231,538159,21324,NaN,-18,2010-12-09 17:17:00,0.00,NaN,United Kingdom
525232,538158,20892,NaN,-32,2010-12-09 17:17:00,0.00,NaN,United Kingdom
525234,538161,46000S,Dotcom sales,-100,2010-12-09 17:25:00,0.00,NaN,United Kingdom
525235,538162,46000M,Dotcom sales,-100,2010-12-09 17:25:00,0.00,NaN,United Kingdom
525282,C538164,35004B,SET OF 3 BLACK FLYING DUCKS,-1,2010-12-09 17:32:00,1.95,14031.0,United Kingdom

In [67]:
online_retail_df['StockCode'].nunique()

4632

In [74]:
sold = online_retail_df.query('Quantity > 0')['Quantity'].sum()
returned = -online_retail_df.query('Quantity < 0')['Quantity'].sum()

print('Total units sold:', sold)
print('Total units returned:', returned)
print(f'Percentage returned: {returned/sold * 100:.0f}%')

Total units sold: 6011588
Total units returned: 579547
Percentage returned: 10%

In [89]:
sold_per_product = online_retail_df.query('Quantity > 0').groupby('StockCode')['Quantity'].sum()
sold_per_product.name = 'Sold'
returned_per_product = -online_retail_df.query('Quantity < 0').groupby('StockCode')['Quantity'].sum()
returned_per_product.name = 'Returned'

sold_and_returned_qunatities_by_product_df = pd.concat([sold_per_product, returned_per_product], axis=1)

returned_pct_by_product = sold_and_returned_qunatities_by_product_df['Returned'] / sold_and_returned_qunatities_by_product_df['Sold'] * 100

returned_pct_by_product.sort_values()

StockCode
47503F       0.019444
21523        0.025994
22571        0.027397
21524        0.027878
22549        0.028580
               ...
DCGS0059          NaN
DCGS0060          NaN
DCGSLBOY          NaN
DCGSLGIRL         NaN
GIFT              NaN
Length: 4632, dtype: float64

In [98]:
nothing_sold_mask = sold_and_returned_qunatities_by_product_df['Sold'].isna()
sold_and_returned_qunatities_by_product_df[nothing_sold_mask]

           Sold  Returned
StockCode
15002       NaN    1000.0
16131       NaN       1.0
16132       NaN       8.0
16210       NaN      20.0
16240       NaN      40.0
...         ...       ...
DCGS0059    NaN       8.0
DCGS0060    NaN       3.0
DCGSLBOY    NaN      16.0
DCGSLGIRL   NaN      57.0
GIFT        NaN       9.0

[315 rows x 2 columns]

In [99]:
online_retail_df.query('StockCode == 15002')

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
436898,531140,15002,rex use,-1000,2010-11-05 14:11:00,0.0,NaN,United Kingdom

In [106]:
online_retail_df['InvoiceDate'].describe()

count                           525461
mean     2010-06-28 11:37:36.845017856
min                2009-12-01 07:45:00
25%                2010-03-21 12:20:00
50%                2010-07-06 09:51:00
75%                2010-10-15 12:45:00
max                2010-12-09 20:01:00
Name: InvoiceDate, dtype: object

In [109]:
online_retail_df.groupby('StockCode')['InvoiceDate'].agg(['min', 'max']).describe()

                                 min                            max
count                           4632                           4632
mean   2010-01-19 14:23:00.453368064  2010-09-29 20:45:05.893782272
min              2009-12-01 07:45:00            2009-12-01 11:44:00
25%              2009-12-01 14:28:00            2010-09-09 19:23:00
50%              2009-12-06 13:07:00            2010-12-03 11:48:00
75%              2010-02-02 13:37:00            2010-12-09 13:03:00
max              2010-12-09 14:09:00            2010-12-09 20:01:00

In [110]:
online_retail_df['InvoiceDate'].max()

Timestamp('2010-12-09 20:01:00')